<div class="page-main">
	<div class="container-fluid container-body">
		<!-- view mode -->
		<div class="row justify-content-end mt32">
			<div class="layout-button col-auto">
				<div class="view" title="grid view" [ngClass]="{active: selectedView === 'grid'}"
					(click)="changeView('grid')">
					<img src="../../../assets/img/grid.svg" alt="grid">
				</div>
				<div class="view" title="list view" [ngClass]="{active: selectedView === 'list'}"
					(click)="changeView('list')">
					<img src="../../../assets/img/list.svg" alt="list">
				</div>
			</div>
		</div>
		<!-- video list  -->
		<div class="row mt32">
			<!-- video display grid view -->
			<ng-container *ngIf="selectedView === 'grid' && videos.length > 0">
				<div class="col-12 col-md-6 col-lg-4" *ngFor="let video of videos">
					<div class="video-grid mb-4" (click)="goToDetails(video.id)">
						<div class="ratio ratio-16x9 cursor-pointer">
							<img src="{{video.previewUrl}}" alt="preview_img">
						</div>
						<div class="video-details">
							<div class="title">{{video.title}}</div>
							<div class="mt-1 d-flex align-items-center justify-content-between">
								<div class="date">{{video.createdDate | date:'dd/MM/yyyy'}}</div>
								<div class="d-flex align-items-center">
									<div class="avatar me-2">
										<img src="{{video.author?.pictureUrl}}" class="img-fluid" alt="author_img" />
									</div>
									<div class="name">{{video.author?.name}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</ng-container>
			<!-- video display list view -->
			<ng-container *ngIf="selectedView === 'list' && videos.length > 0">
				<div class="video-list mb-3" *ngFor="let video of videos">
					<div class="row align-items-center video-details flex-wrap" (click)="goToDetails(video.id)">
						<div class="col-auto col-md-auto">
							<div class="video">
								<div class="ratio ratio-16x9">
									<img class="img-preview" src="{{video.previewUrl}}" alt="preview_img">
								</div>
							</div>
						</div>
						<div class="col-8 col-md">
							<div class="row g-0 mx-0 flex-wrap align-items-center">
								<div class="col-12 col-md-8 col-lg-9 title mb-2 mb-md-0">{{video.title}}</div>
								<div class="col-12 col-md-4 col-lg-3 d-flex">
									<div class="col-6 date">{{video.createdDate | date:'dd/MM/yyyy'}}</div>
									<div class="col-6">
										<div class="d-flex align-items-center">
											<div class="avatar me-2">
												<img src="{{video.author?.pictureUrl}}" class="img-fluid"
													alt="author_img" />
											</div>
											<div class="name">{{video.author?.name}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</ng-container>
		</div>
	</div>
</div>