/* video view mode start */
.layout-button {
    display: flex;
    align-items: center;
}

.layout-button .view {
    padding: 12px 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: .5;
}

.layout-button .view.active {
    background: #ccc;
    border-radius: 10px;
    opacity: 1;
}
/* video view mode end */