<div class="page-main">
	<div class="container-fluid container-body">
		<!-- view mode -->
		<div class="row justify-content-end mt32">
			<div class="layout-button col-auto">
				<div class="view" title="grid view" [ngClass]="{active: selectedView === 'grid'}"
					(click)="changeView('grid')">
					<img src="../../../assets/img/grid.svg" alt="grid">
				</div>
				<div class="view" title="list view" [ngClass]="{active: selectedView === 'list'}"
					(click)="changeView('list')">
					<img src="../../../assets/img/list.svg" alt="list">
				</div>
			</div>
		</div>
		<!-- video list  -->
		<div class="row mt32">
			<!-- video display grid view -->
			<ng-container *ngIf="selectedView === 'grid' && videos.length > 0">
				<app-grid-view [videos]="videos"></app-grid-view>
			</ng-container>
			<!-- video display list view -->
			<ng-container *ngIf="selectedView === 'list' && videos.length > 0">
				<app-list-view [videos]="videos"></app-list-view>
			</ng-container>
		</div>
	</div>
</div>