/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue;
    color: #000;
    background-color: #fff;
}

.container-header {
    max-width: 1360px;
}
.container-body {
    max-width: 1220px;
} */

/* 
.page-main {
    padding-top: 76px;
}
.mt32 {
    margin-top: 32px;
} */
/* Header start */
.navbar-custom {
    background: #12123D;
}

.navbar-custom .avatar-pic {
    width: 34px;
    height: 34px;
    border-radius: 100%;
    border: solid 2px #ccc;
}

.navbar-custom .avatar-pic img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.navbar-custom .nav-link {
    color: #fff;
    font-size: 16px;
    font-family: 'Helvetica Neue';
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word
}

.navbar-custom .nav-link:hover {
    color: #ccc;
    font-size: 16px;
    font-family: 'Helvetica Neue';
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word
}

.navbar-custom .dropdown-toggle::after {
    display: none;
}

.navbar-custom .dropdown-menu {
    top: 60px;
    background: #12123D;
}

.navbar-custom .dropdown-menu .dropdown-item:hover {
    background: transparent;
    color: #fff;
}

.back-btn {
    color: #fff;
    font-family: 'Helvetica Neue';
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    cursor: pointer;
}

/* Header end */