<div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let video of videos">
        <div class="video-grid mb-4" (click)="goToDetails(video.id)">
            <div class="ratio ratio-16x9 cursor-pointer">
                <img src="{{video.previewUrl}}" alt="preview_img">
            </div>
            <div class="video-details">
                <div class="title">{{video.title}}</div>
                <div class="mt-1 d-flex align-items-center justify-content-between">
                    <div class="date">{{video.createdDate | date:'dd/MM/yyyy'}}</div>
                    <div class="d-flex align-items-center">
                        <div class="avatar me-2">
                            <img src="{{video.author?.pictureUrl}}" class="img-fluid" alt="author_img" />
                        </div>
                        <div class="name">{{video.author?.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>