/* Header Start */
.navbar-custom {
    background: #12123D;
    padding: 10px 0;
}

.navbar-custom .avatar-pic {
    width: 34px;
    height: 34px;
    border-radius: 100%;
    border: solid 2px #ccc;
}

.navbar-custom .avatar-pic img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

.navbar-custom .nav-link {
    color: #fff;
    font-size: 16px;
    font-family: 'Helvetica Neue';
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word
}

.navbar-custom .nav-link:hover {
    color: #ccc;
    font-size: 16px;
    font-family: 'Helvetica Neue';
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word
}

.navbar-custom .dropdown-toggle::after {
    display: none;
}

.navbar-custom .dropdown-menu {
    top: 60px;
    background: #12123D;
}

.navbar-custom .dropdown-menu .dropdown-item:hover {
    background: transparent;
    color: #fff;
}

.back-btn {
    color: #fff;
    font-family: 'Helvetica Neue';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    cursor: pointer;
}

/* Header End */